<!DOCTYPE html>
{% load staticfiles %}
<!-- VSPOMs Team Project - JH04 2023 -->

<html lang="en" dir="ltr">

<head>

  <title>Amazing VSPOMs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'assets/styles.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/icon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'assets/scripts.js' %}"></script>

</head>

<body>

    <header>
        <div class="button-container">
            <button id="button-create" class="active-page">Create</button>
            <button id="button-simulate">Simulate</button>
            <button id="button-graphs">Graphs</button>
            <button id="button-settings">Settings</button>
        </div>
    </header>

    <!-- Create panel -->
    <section id="create-panel" class="panel">
        <h1>Create Simulation</h1>
        <hr>
    </section>

     <!-- Simulate panel -->
    <section id="simulate-panel" class="panel">

        <div class="patch-container"><!-- Patch grid goes here -->(╯°□°)╯︵ ┻━┻</div>

    </section>

     <!-- Graphs panel -->
    <section id="graphs-panel" class="panel">

        <div class="graph-grid">
            <div class="graph-container"><!-- Graph goes here -->¯\_(ツ)_/¯</div>
            <div class="graph-container"><!-- Graph goes here -->( ͡° ͜ʖ ͡°)</div>
            <div class="graph-container"><!-- Graph goes here -->^_^</div>
            <div class="graph-container"><!-- Graph goes here -->O_o</div>
        </div>

    </section>

     <!-- Simulation panel -->
    <section id="settings-panel" class="panel">
        <h1>Simulation Settings</h1>
        <hr>
    </section>

</body>

</html>
<!-- You've reached the end of the page -->
