<!DOCTYPE html>
{% load static %}
<!-- VSPOMs Team Project - JH04 2023 -->

<html lang="en" dir="ltr">

<head>

    <title>Amazing VSPOMs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'assets/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/icon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'assets/scripts.js' %}"></script>
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-3.0.0.min.css
    " rel=”stylesheet” type=”text/css”>
    <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.0.0.min.css"
          rel=”stylesheet” type=”text/css”>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.0.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.0.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.0.0.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.0.0.min.js"
            crossorigin="anonymous"></script>
    {{script| safe}}
</head>

<body>

<header>
    <div class="button-container">
        <button id="button-create" class="active-page">Create</button>
        <button id="button-simulate">Simulate</button>
        <button id="button-graphs">Graphs</button>
        <button id="button-settings">Settings</button>
    </div>
</header>

<!-- Create panel -->
<section id="create-panel" class="panel">
    <h1>Create Simulation</h1>
    <hr>
</section>

<!-- Simulate panel -->
<section id="simulate-panel" class="panel">

    <div class="patch-container">{{bokeh_div.map | safe}}</div>

</section>

<!-- Graphs panel -->
<section id="graphs-panel" class="panel">

    <div class="graph-grid">
        <div class="graph-container">{{bokeh_div.graph1 | safe}}</div>
        <div class="graph-container">{{bokeh_div.graph2 | safe}}</div>
        <div class="graph-container">{{bokeh_div.graph3 | safe}}</div>
        <div class="graph-container">{{bokeh_div.graph4 | safe}}</div>
    </div>

</section>

<!-- Simulation panel -->
<section id="settings-panel" class="panel">
    <h1>Simulation Settings</h1>
    <hr>
</section>

</body>

</html>
<!-- You've reached the end of the page -->
