<!DOCTYPE html>
{% load static %}
<!-- "VSPOMs" - Team Project - JH04 2023 -->

<html lang="en" dir="ltr">

<head>

    <title>SPOM Simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'assets/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/icon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'assets/scripts.js' %}"></script>
    <script src="{% static 'javascripts/data_retraction.js' %}"></script>


     <!-- MathJax -->
     <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- Bokeh Links -->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-3.0.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.0.0.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.0.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.0.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.0.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.0.0.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.0.0.min.js" crossorigin="anonymous"></script>

    {{script | safe}}

</head>

<body>


<!-- Navigation -->
<div id="header-wrapper"><header>
    <div class="button-container">
        <button id="button-create" class="active-page">
            <span id="create-icon" class="navigation-button-icon"></span>
            <span class="navigation-button-text"></span>
        </button>
        <button id="button-settings">
            <span id="settings-icon" class="navigation-button-icon"></span>
            <span class="navigation-button-text"></span>
        </button>
        <button id="button-simulate">
            <span id="simulate-icon" class="navigation-button-icon"></span>
            <span class="navigation-button-text"></span>
        </button>
        <button id="button-graphs">
            <span id="graphs-icon" class="navigation-button-icon"></span>
            <span class="navigation-button-text"></span>
        </button>
    </div>
</header></div>


<!-- Loading screen -->
<section id="loading-panel" class="panel">
    <h1>Loading...</h1>
    <img src="{% static 'assets/loading.gif' %}" alt="">
    <p>Use the arrow keys to navigate between pages</p>
</section>


<!-- Create panel -->
<section id="create-panel" class="panel">
    <h1>Create Simulation</h1>
    <hr>
</section>


<!-- Simulate panel -->
<section id="simulate-panel" class="panel">

    <!-- Patch graph -->
    <div class="patch-container">
        {{bokeh_div.map | safe}}
    </div>
    
    <!-- Patch settings -->
    <div class="patch-settings-container">
        <h2>Selected Patch</h2>
        <div id="patch-size-input">{{bokeh_div.display | safe}}</div> <!-- Size input -->
        <div id="patch-state-input">{{bokeh_div.button | safe}}</div> <!-- Colonised/extinct buttons -->
    </div>

    <!-- Patch settings help -->
    <div class="patch-help-container">
        <h2>How to Use</h2>
        <p>Drag patches to change their position.</p>
        <p>Click on a patch to change its size and state.</p>
        <p>Use ESCAPE to deselect a patch.</p>
        <p>Use BACKSPACE to delete the selected patch.</p>
    </div>

    <!-- Run button -->
    <div class="run-sim-button">
        <button id="button-run" class="panel-button">
            {% csrf_token %}
            Run Simulation
        </button>
    </div>

</section>


<!-- Graphs panel -->
<section id="graphs-panel" class="panel">
    
    <div class="graph-grid">
        <div class="graph-container">
            {% if graphs.graph1 %}
            {{ graphs.graph1|safe }}
            {% else %}
            <p>No graph was provided.</p>
            {% endif %}
        </div>
        <div class="graph-container">
            {% if graphs.graph2 %}
            {{ graphs.graph2|safe }}
            {% else %}
            <p>No graph was provided.</p>
            {% endif %}
        </div>
        <div class="graph-container">
            {% if graphs.graph3 %}
            {{ graphs.graph3|safe }}
            {% else %}
            <p>No graph was provided.</p>
            {% endif %}
        </div>
        <div class="graph-container">
            {% if graphs.graph4 %}
            {{ graphs.graph4|safe }}
            {% else %}
            <p>No graph was provided.</p>
            {% endif %}
        </div>
    </div>

</section>


<!-- Simulation panel -->
<section id="settings-panel" class="panel">
    <h1>Define SPOM Parameters</h1>
    <hr>

    <form action="">
    
        <div class="box_row">
            <div class="function_box" id="box_dispersal-kernel-function">
                <h2 class="parameter_heading">Dispersal Kernel</h2>
                <div class="equation">$$K_{ij} = \text{exp}(-\bbox[#F5A9AD, 6px]{a} \times d_{ij})$$</div>
                <p><a class="parameter_label" style="background-color: #F5A9AD;">\(a\)</a> = <input type="number" id="dispersal-kernel-input" name="dispersal-kernel" placeholder="Enter value..." value="1"></p>
            </div>
            <div class="visualise_box" id="box_dispersal-kernel-graph">
                <p>Graph will go here</p>
            </div>
        </div>
    
        <div class="box_row">
            <div class="function_box" id="box_colonization-probability-function">
                <h2 class="parameter_heading">Colonization Probability</h2>
                <div class="equation">$$C_{i}(t) = 1 - \text{exp}(-\bbox[#90F5AA, 6px]{y} \times S_{i}(t))$$</div>
                <p><a class="parameter_label" style="background-color: #90F5AA;">\(y\)</a> = <input type="number" id="colonization-probability-input" name="colonization-probability" placeholder="Enter value..." value="2"></p>
            </div>
            <div class="visualise_box" id="box_colonization-probability-graph">
                <p>Graph will go here</p>
            </div>
        </div>
        
        <div class="box_row">
            <div class="function_box" id="box_patch-extinction-probability-function">
                <h2 class="parameter_heading">Patch Extinction Probability</h2>
                <div class="equation">$$E_{i} = \text{min}(1, {\bbox[#9DD1F5, 6px]{u} \over A_{i}^{\bbox[#F5E0C1, 3px]{x}}})$$</div>
                <p>
                    <a class="parameter_label" style="background-color: #9DD1F5;">\(u\)</a> = <input type="number" id="patch-extinction-probability-u-input" name="patch-extinction-probability-u" placeholder="Enter value..." value="3">,
                    <a class="parameter_label" style="background-color: #F5E0C1;">\(x\)</a> = <input type="number" id="patch-extinction-probability-x-input" name="patch-extinction-probability-a" placeholder="Enter value..." value="4">
                </p>
            </div>
            <div class="visualise_box" id="box_patch-extinction-probability-graph">
                <p>Graph will go here</p>
            </div>
        </div>
    
        <div class="box_row">
            <div class="function_box" id="box_connectivity-function">
                <h2 class="parameter_heading">Connectivity Function</h2>
                <div class="equation">$$S_{i}(t) = \sum_{j=1,j \neq i}^{n}(p_{j}(t) \times k_{j}(d_{ij}) \times A_{j}^{\bbox[#CBA9F5, 3px]{b}})$$</div>
                <p><a class="parameter_label" style="background-color: #CBA9F5;">\(b\)</a> = <input type="number" id="connectivity-input" name="connectivity" placeholder="Enter value..." value="5"></p>
            </div>
            <div class="function_box" id="box_rescue-effect-function">
                <h2 class="parameter_heading">Extinction Probability with Rescue Effect</h2>
                <div class="equation">$$E_{i}(t) = E_{i}(1-C_{i}(t))^{\bbox[#DEF5A4, 3px]{r}}$$</div>
                <p><a class="parameter_label" style="background-color: #DEF5A4;">\(r\)</a> = <input type="number" id="rescue-effect-input" name="rescue-effect" placeholder="Enter value..." value="6"></p>
            </div>
        </div>
    
        <div class="box_row">
            <div class="function_box" id="box_stochasticity-function">
                <h2 class="parameter_heading">Stochasticity</h2>
                <p><a class="parameter_label" style="background-color: #F5A69E;">\(ss\)</a> = <input type="number" id="stochasticity-input" name="stochasticity" placeholder="Enter value..." value="7"></p>
            </div>
            <div class="function_box" id="box_other">
                <h2 class="parameter_heading">Other Parameters</h2>
                <p><a class="parameter_label">No. of Steps</a> = <input type="number" id="" name="" placeholder="Enter value...">, <a class="parameter_label">No. of Replicates</a> = <input type="number" id="" name="" placeholder="Enter value..."></p>
            </div>
        </div>

    </form>

</section>


</body>

</html>
<!-- You've reached the end of the page -->
