/* VSPOMs Stylesheet, JH04 2023 */

/*
Colours:
    Primary - #1C2A3A
    Primary (hover) - #26394F
    Highlighted - #1DB099
    Background - #E4E7EB
    Panel - #DFE2E6
*/


/* Global Styles */
body, html {
    height: calc(100% - 50px);
	width: 100%;
    min-width: 1400px;
	margin: 0;
    padding: 0;
	font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #E4E7EB;
}
* {
    box-sizing: border-box;
}


/* Header, navigation */
#header-wrapper {
    display: none;
}
header {
    background-color: #1C2A3A;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    transition: all 0.15s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
header:hover {
    height: 120px;
}
header:hover button {
    height: 120px;
}
header:hover button.active-page, header:hover button:hover {
    height: 125px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 80vw;
    margin: 0 auto;
}
header button {
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    color: #E4E7EB;
    background-color: #1C2A3A;
    border-radius: 2px;
    border: none;
    padding: 10px 50px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
header button:hover {
    color: white;
    font-size: 20px;
    height: 54px;
    background-color: #26394F;
}
header button:focus, header button:visited {
    border: none;
    box-shadow: none;
    border-radius: 0;
}
header button.active-page {
    height: 54px;
    background-color: #1DB099;
}
header:hover button#button-create span.navigation-button-text:before {
    content: "Create"
}
header:hover button#button-simulate span.navigation-button-text:before {
    content: "Simulate"
}
header:hover button#button-graphs span.navigation-button-text:before {
    content: "Graphs"
}
header:hover button#button-settings span.navigation-button-text:before {
    content: "Parameters"
}
header button span.navigation-button-icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    height: 30px;
    display: block;
    transition: all 0.1s ease-in-out;
}
header:hover button span.navigation-button-icon {
    height: 40px;
    margin-bottom: 4px;
}
header button:hover span.navigation-button-icon {
    height: 42px;
}
header button#button-create span.navigation-button-icon {
    background-image: url("icon_create.png");
}
header button#button-simulate span.navigation-button-icon {
    background-image: url("icon_simulate.png");
}
header button#button-graphs span.navigation-button-icon {
    background-image: url("icon_graphs.png");
}
header button#button-settings span.navigation-button-icon {
    background-image: url("icon_settings.png");
}
header, header button:hover, header button.active-page {
    box-shadow: 0 0 4px #26394F;
}

/* Section/panels */
section.panel {
    background-color: #DFE2E6;
    width: 80%;
    margin: 85px auto 40px auto;
    height: 95%;
    border-radius: 10px;
    padding: 16px 20px;
    box-shadow: 0 0 10px lightgray;
}
section.panel h1, section.panel h2, section.panel h3, section.panel h4, section.panel h5, section.panel h6 {
    font-weight: normal;
}

/* Loading panel styles */
section.panel#loading-panel {
    background: none;
    box-shadow: none;
}
section.panel#loading-panel h1 {
    text-align: center;
    margin-top: 28vh;
}
section.panel#loading-panel img {
    display: block;
    margin: 0 auto;
    width: 30px;
}
section.panel#loading-panel p {
    text-align: center;
    margin-top: 40px;
    color: gray;
}

/* Loading overlay styles */
#loading-overlay {
    display: none;
    position: fixed;
    background-color: #1C2A3A;
    height: 100%;
    width: 100%;
    z-index: 100000001;
    top: 0;
    left: 0;
    opacity: 0.6; 
}
#loading-overlay img {
    display: block;
    margin: 46vh auto 0 auto;
    width: 40px;
    text-align: center;
}

/* Graph panel styles */
section.panel#graphs-panel {
    height: auto;
}
section.panel .graph-grid {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
    margin: 0;
}
section.panel .graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 500px;
}

/* Simulate panel styles */
section.panel .patch-container {
    background-color: white;
    height: 82vh;
    width: 55%;
    margin: 0;
    border-radius: 5px;
    float: left;
}
section.panel .patch-settings-container, section.panel .patch-help-container {
    float: right;
    width: 43%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px 30px;
}
section.panel .patch-settings-container {
    height: 38vh;
}
section.panel .patch-help-container {
    height: 32vh;
}
section.panel .run-sim-button {
    float: right;
    width: 43%;
}
section.panel #patch-size-input {
    width: 52%;
    height: 56px;
    overflow: hidden;
    transform: scale(1.9) translate(22%, 20%);
    margin-bottom: 50px;
}
section.panel #patch-state-input {
    transform: scale(1.4) translateX(34%);
    margin-top: 50px;
}

/* Settings panel styles */
section.panel#settings-panel {
    height: auto;
}
section.panel h2.parameter_heading {
    font-size: 18px;
}
/* Box positioning */
section.panel .box_row::after {
    content: "";
    display: table;
    clear: both;
}
section.panel .function_box, section.panel .visualise_box {
    border: 1px solid #1C2A3A;
    margin: 20px auto;
    padding: 6px 12px;
    width: 49%;
    margin-left: 0;
    float: left;
    transition: all 0.1s ease-in-out;
}
section.panel .function_box:hover, section.panel .visualise_box:hover {
    box-shadow: 0 0 4px gray;
}
section.panel .visualise_box {
    height: 100%;
}
#box_dispersal-kernel-function, #box_colonization-probability-function, #box_patch-extinction-probability-function, #box_connectivity-function,
#box_stochasticity-function {
    margin-right: 1%;
}
#box_dispersal-kernel-graph, #box_colonization-probability-graph, #box_patch-extinction-probability-graph, #box_rescue-effect-function, #box_other {
    margin-left: 1%;
}
/* Box styles */
section.panel .function_box .parameter_label {
    padding: 0 6px;
    font-family:'Times New Roman', Times, serif;
}
section.panel .function_box .equation {
    font-size: 26px;
}
section.panel .function_box input {
    width: 8vw;
    font-size: 18px;
    font-family: monospace;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* Remove default arrows on number input fields */
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
/* "Save Changes" button */
section.panel .button_submit-settings {
    margin: 20px auto;
    width: 400px;
}
section.panel button.panel-button {
    margin: 0;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #1DB099;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: 0.1s ease-in-out;
}
section.panel button.panel-button:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
    cursor: pointer;
}

/* Create panel styles */
section.panel#create-panel h2 {
    font-size: 20px;
}
section.panel .choose-scenario-box, section.panel .random-scenario-box {
    border: 1px solid #1C2A3A;
    width: calc(47% - 10px);
    height: calc(100% - 120px);
    float: left;
    padding: 6px 12px;
    background-color: #DFE2E6;
    margin-top: 20px;
    filter: brightness(0.95) saturate(0.7);
    transition: all 0.1s ease-in-out;
}
section.panel .or-box {
    width: 6%;
    float: left;
    margin-top: 20px;
    height: calc(100% - 120px);
    padding: 0;
    text-align: center;
}
section.panel .or-box h1 {
    font-size: 40px;
    margin-top: calc(40vh - 100px);
}
section.panel .choose-scenario-box:hover, section.panel .random-scenario-box:hover {
    box-shadow: 0 0 4px gray;
    filter: none;
}
section.panel .choose-scenario-box {
    margin-right: 10px;
}
section.panel .scenario-list {
    height: calc(100% - 80px);
    overflow-y: scroll;
}
section.panel .scenario-list li {
    background-color: white;
    padding: 18px 10px;
    border-radius: 2px;
    margin: 10px 0;
    width: 98%;
    list-style-type: none;
    font-size: 18px;
    font-family: monospace;
    word-break: break-all;
    opacity: 0.7;
}
section.panel .scenario-list li:hover {
    font-weight: bold;
    opacity: 1;
}
section.panel .scenario-list li a {
    font-weight: bold;
    color: white;
    background-color: #1DB099;
    padding: 10px 40px;
    border-radius: 4px;
    float: right;
    transition: all 0.1s ease-in-out;
    margin-top: -10px;
}
section.panel .scenario-list li a:hover {
    filter: brightness(1.1);
    transform: scale(1.03);
    cursor: pointer;
}
section.panel .random-scenario-box {
    margin-left: 10px;
}
section.panel .random-scenario-box button {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #1DB099;
    border-radius: 4px;
    border: none;
    transition: all 0.1s ease-in-out;
    width: 300px;
    height: 70px;
    margin-top: 20px;
}
section.panel .random-scenario-box button:hover {
    filter: brightness(1.1);
    transform: scale(1.02);
    cursor: pointer;
}
.random-parameters .random-parameters_row {
    display: flex;
}
.random-parameters .random-parameters_column {
    flex: 50%;
    background-color: white;
    padding: 18px 10px;
    border-radius: 4px;
    margin: 6px;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}
.random-parameters .random-parameters_column:hover {
    opacity: 1;
}
.random-parameters input {
    width: calc(50% - 8px);
    border-radius: 2px;
    font-size: 18px;
    font-family: monospace;
    border: 1px solid black;
    margin: 6px 0 0 0;
}
section.panel .generate-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}